/* YouTubeVideoPlayer.css */
.youtube-video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.video-container {
  margin-top: 3rem;
  overflow: hidden;
}

.video-container iframe{
  height: 90vh;
  width: 80vw;
  
}

.comment-section {
  width: 800px;
  /* border: 1px solid #ccc; */
  padding: 20px;
  margin-bottom: 20px;
}

.recommendation-section {
  width: 800px;
  /* border: 1px solid #ccc; */
  padding: 20px;
}
