/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5vw;
}

code{
  font-family: "Cedarville cursive", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width:600px){
  *{
    font-size: 2.4vw;
  }
}
@media screen and (max-width:400px){
  *{
    font-size: 1.5em;
  }
  
}
